/* Dưới đây là code để load font chữ hệ thống */
/* System Fonts with system-ui */
/* body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
} */

/* Đây là cách nhúng font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Roboto:ital,wght@0,300;0,400;1,100;1,300&display=swap");
/* font có chân */
body {
    font-family: 'Roboto', sans-serif;
}

/* font có chân */
h1 {
    font-family: 'Times New Roman', Times, serif;
}