.box {
  width: 200px;
  height: 200px;
  border: 10px dotted seagreen;
  padding: 50px;

  /* background-color: tomato;

    background-image: url(../DAY47_background-clip/bg/1.PNG);

    background-position: top left;

    background-repeat: no-repeat;

    background-size: cover;

    background-clip: padding-box;

    background-origin: padding-box; */

  /* background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit; */
  background: tomato url(../DAY47_background-clip/bg/1.PNG) left / cover
    no-repeat padding-box padding-box scroll;
}
