h1{
    color: rgb(111, 19, 216);
    font-style: normal;
    font-size: medium;

    /* Font chữ */
    font-family: 'Times New Roman', Times, serif;
    /* Chuyển hoa thường */
    text-transform: uppercase;
    /*  */
}